<header class="w-full p-[1rem] flex justify-between items-center flex-wrap">
    <a href="/">Accueil</a>
    <div class="flex gap-[2rem] flex-wrap">
        <a href="/add-article">Ajouter un article</a>
        <a href="/categories">Ajouter une catégorie</a>
    </div>
</header>