<form action="add-category" method="POST" class="my-[2rem]">
    <label for="">Nom de la catégorie : 
        <input class="border border-gray rounded-lg" type="text" name="name">
    </label>
    <div>
        <button type="submit">Valider</button>
    </div>
</form>